<% layout("/layouts/boilerplate") %>
<body>
    <h3 class="text-center text-danger ls-details mt-4">Listings Details</h3>
 
    <div class="row">
        <div class="col-lg-6 responsive">
            <div class="card col-12">
                <img src="<%= listing.image.url %>" class="card-img-top mb-2" alt="listing images">
                <div class="card-body">
                  <h5 class="card-title"><%= listing.title %></h5>
                  <p class="card-text">
                    <b>Owned by : <%= listing.owner.username %> </b><br>
                    <b>Description : </b><%= listing.description %> ,<br>
                    <b>Price : </b>&#8377; <%= listing.price.toLocaleString("en-IN") %> / night , <br>
                    <b>Category : </b><%= listing.category %> ,<br>
                    <b>Location : </b><%= listing.location %> , <br>
                    <b>Country : </b><%= listing.country %> .
                  </p>
                 <% if(currentuser && currentuser._id.equals(listing.owner._id)){ %>
                  <div class="showbtn">
                    <a href="/listing/<%= listing._id %>/edit" class="btn btn-danger mt-3">Edit Post</a>
                    <form action="/listing/<%= listing._id %>?_method=delete" method="post"><button class="btn btn-danger mt-3">Delete Post</button></form>
                  </div>
                <% } %>
                <% if(currentuser && !currentuser._id.equals(listing.owner._id)) { %>
                  <button class="btn btn-danger mt-4 offset-5">Reserve</button>
                <% } %>
                  
                </div>
              </div>
              <hr>
              <div>
                <% if(currentuser) { %>
                  <h4 class="text-center text-danger">Leave a Review</h4>
                  <p>Rating</p>
                  <form action="/listing/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">

                      <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>

                      <label for="msg" class="form-label">Leave a Message</label>
                      <textarea name="message" id="msg" class="form-control" rows="4" required></textarea>
                      <div class="invalid-feedback">Plaese a valid comment over post</div>
                      <input type="submit" class="btn btn-dark mt-3 offset-5">
                  </form>
                  <hr>
                <% } %>
              </div>
              <div>
                <h4 class="text-center text-danger">All Reviews</h4>
                <div class="row">
                  <% for( review of listing.reviews) { %>
                    <div class="card card-border col-10 ms-4 mt-3 review-card">
                      <div class="card-body p-1">
                        <h6 class="card-title"> @ <%= review.author.username %></h6>
                        <p class="starability-result" data-rating="<%= review.rating %>"></p>
                        <p class="card-text mt-4"><%= review.message %></p>

                      <%  if(currentuser && currentuser._id.equals(review.author._id)){ %>
                        <form action="/listing/<%= listing._id %>/reviews/<%= review._id %>?_method=delete" method="post">
                          <button class="btn btn-dark btn-sm">Delete</button>
                        </form>
                      <%  }  %>
                      </div>
                    </div>
                  <% } %>
                </div>
              </div>
        </div>
    </div>
</body>
